<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="uno">
        <ion-label>Escanear</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dos">
        <ion-label>Asistencias</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-router-outlet></ion-router-outlet>



</ion-content>